<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About PetImage</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="login_header">
      <div>
        <h1 id="login_title">PetImage</h1>
      </div>
    </div>
    <div class="background"></div>
    <div class="wrapper">
      <div class="about">
        <h2>About PetImage</h2>
        <p>PetImage is a neighborhood animal rescue app that focus on helping our fur-friends, whether it's a feral animal on the street or your missing fur-babies, simply register an account and you can share the information!</p>
        <h3>About Me</h3>
        <p>My name is Ronald Hong, a jr. web developer, and a certified cat-slave, I create this animal rescue demo page because it's something I always wanted to do, that is to combine my skill, my respect and care for animals, and my goal to create something meaningful. </p>
        <p>I'm currently looking for a jr. front-end/full-stack developer position. Please visit my website to see some of my works!</p>
        <div class="about_link">
          <a href="https://ronaldhong.github.io/ronald_hong/">Portfolio</a>
          <a href="https://github.com/ronaldhong">Github Page</a>
          <a href="https://www.linkedin.com/in/ronald-hong-201484102/">Linkedin</a>
          <a href="/">back</a>
        </div>
      </div>
    </div>
  </body>
</html>
