<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About PetImage</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="login_header">
      <div>
        <h1 id="login_title">PetImage</h1>
      </div>
    </div>
    <div class="background"></div>
    <div class="wrapper">
      <div class="about">
        <h2>About PetImage</h2>
        <p>
          PetImage is a neighborhood animal rescue app that was created with the mission to save, protect our furry friends.
          whether you are looking for your missing pet, or sharing a location of our fur-friends that might need some help,
          simply login with your registered account and you can share the information to anyone!
        </p>
        <p>*This app is for demonstration purpose, to showcase my knowledge in full-stack web development, the origin website has been taken down after Houston's recovery from Hurricane Harvey. </p>
        <div class="about_link">
          <a href="/">back</a>
        </div>
      </div>
    </div>
  </body>
</html>
