<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body >
    <nav>
      <div class="nav-bar-l">
        <h1>PetImage</h1>
        <h2><a href="/">Map</a></h2>
        <h2><a href="/upload">Upload</a></h2>
        <h2><a href="/share">Share</a></h2>
        <h2><a href="/mypost">My Post</a></h2>
      </div>
      <div class="nav-bar-r">
        <ul id="menu">
          <li>
            <input class="input_menu" id="check01" type="checkbox" name="menu"/>
            <label class="nav_label" id= "current_user" for="check01">{{user.username}}</label>
            <ul class="submenu">
              <li>
                <form class="logout" action="/logout" method="post">
                  <button id="button" type="submit" name="">Logout </button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div id="map"></div>
    <script type="text/javascript" src="/js/index.js" charset="utf-8"> </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLY27ZrnuB4CvAY8-WtUaLHsx5hhAW7dY&callback=initMap"></script>
  </body>
</html>
