<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PetImage Login</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/slide.css">
  </head>
  <body>
    <div class="login_header">
      <div>
        <h1 id="login_title">PetImage</h1>
      </div>
    </div>
    <!-- <div class="container">
      <div id="slides">
        <img src="https://www.pets4homes.co.uk/images/articles/771/large/cat-lifespan-the-life-expectancy-of-cats-568e40723c336.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
        <img src="http://www.rp-online.de/polopoly_fs/playful-cat-spielzeug-katze-gemacht-1.5605745.1449159203!httpImage/299702921.jpg_gen/derivatives/d940x528/299702921.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
        <img src="http://hr.n1info.com/Picture/102063/jpeg/cat-1044750_1280.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/">
        <img src="http://www.rp-online.de/polopoly_fs/playful-cat-spielzeug-katze-gemacht-1.5605745.1449159203!httpImage/299702921.jpg_gen/derivatives/d940x528/299702921.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
      </div>
    </div> -->
    <div class="background"></div>
    <div class="wrapper">
      <form class="form-signin" action="/auth" method="post">
        <h2 class="form-signin-heading">Please login</h2>
        {{#error}}
        <p style="color:red;">Incorrect Usernme/Password </p>
        {{/error}}
        <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <br>
        <button class="btn" type="submit">Login</button>
        <br>
        <div class="">
          <h5>Not a member?<a href="/signup"> sign up</a></h5>
          <h5><a href="/about">About PetImage</a></h5>
        </div>
      </form>
    </div>
    <footer>
      <h5 style="color:white">Copyright © 2017 by Ronald Hong. All rights reserved.</h5>
    </footer>
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.slides.min.js"></script> -->
    <script type="text/javascript" src="/js/index.js" charset="utf-8"></script>
  </body>
</html>
