<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PetImage Sign up</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div class="login_header">
      <div>
        <h1 id="login_title">PetImage</h1>
      </div>
    </div>
    <div class="background"></div>
    <div class="register-form">
      <h2>Create an Account...</h2>
      {{#error_message}}
      <div style="color: red">{{error_message}}</div>
      {{/error_message}}

      {{#error}}
      <section>
        <div style="color: red;" >
          {{msg}}
        </div>
      </section>
      {{/error}}

      <form class="post" action="/register" method="post">
        <div>
          <label for="username">New Username</label>
          {{^user}}
          <input type="text" class="form-control" name="username" value="">
          {{/user}}
          {{#user}}
          <input type="text" class="form-control" name="username" value={{user}}>
          {{/user}}
        </div>
        <div class="">
          <label for="email">Email Address</label>
          {{^email}}
          <input type="email" class="form-control" name="email" value="">
          {{/email}}
          {{#email}}
          <input type="email" class="form-control" name="email" value={{email}}>
          {{/email}}
        </div>
        <div>
          <label for="password">New Password</label>
          <input type="password" class="form-control" name="password" value="">
          </br>
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" name="confirm" value="">
        </div>
        <input class="btn btn-primary" type="submit" name="" value="Sign up!"> Already have an <a id="login_link"href="/">account</a>...?
      </form>

    </div>
  </body>
</html>
