<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PetImage Sign up</title>
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div class="">
      <h1>Sign up form</h1>
      {{#error_message}}
      <div>Password does not match confirmation</div>
      {{/error_message}}
      {{#user_exist}}
      <div class="">User already exist</div>
      {{/user_exist}}
      <form class="sign_up" action="/register" method="post">
        <div>
          {{#error.errors.username}}
            <div>username required</div>
          {{/error.errors.username}}
          <label for="">New Username</label>
          <input type="text" name="username" value="">
        </div>
        <div class="">
          <label for="">Email Address</label>
          <input type="email" name="email" value="">
        </div>
        <div>
          {{#error.errors.password}}
            <div>password required</div>
          {{/error.errors.password}}
          <label for="">New Password</label>
          <input type="password" name="password" value="">
          </br>
          <label for="">Confirm Password</label>
          <input type="password" name="confirm" value="">
        </div>
        <input id="sign_up_submit" type="submit" name="" value="Sign up!">
      </form>

    </div>
  </body>
</html>
