<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav>
      <div class="nav-bar-l">
        <h1>PetImage</h1>
        <a href="/">Map</a>
        <a href="/upload">Upload</a>
        <a href="/share">Share</a>
      </div>
      <div class="nav-bar-r">
        <ul id="menu">
          <li>
            <input class="input_menu" id="check01" type="checkbox" name="menu"/>
            <label id= "current_user" for="check01">{{user.username}}</label>
            <ul class="submenu">
              <li>
                <form class="logout" action="/logout" method="post">
                  <button id="button" type="submit" name="">Logout </button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>


    <form class="post" action="/message/new" method="post" >
      <div class="text_input">
        <input type="text" name="title" value="" placeholder="Title">
      </div>
      <div class="">
        <textarea name="body" rows="8" cols="80" placeholder="Body"></textarea>
      </div>
      <div class="text_input">
        <input type="text" name="contact" value="" placeholder="Contact Method">
      </div>
      <div class="text_input">
        <input type="text" name="lat" value="" placeholder="Latitude Ex. 29.7548">
      </div>
      <div class="text_input">
        <input type="text" name="long" value="" placeholder="Longitude Ex. -95.369">
      </div>
      <p>Find out your coordinates <a href="https://www.gps-coordinates.net/">Here</a></p>
      <!-- <input type="file" name="myimage" value="" onchange="readURL(this)" ></input> -->
      <div class="search">
        <input type="submit" name="" value="Save">
      </div>
    </form>
    <div class="">
      <img id="blah" src="#" alt="your image" />
    </div>
    <script type="text/javascript" src="./js/index.js"></script>
  </body>
</html>
