<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload</title>
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-bar-l">
        <h1>PetImage</h1>
        <h2><a href="/">Map</a></h2>
        <h2><a href="/upload">Upload</a></h2>
        <h2><a href="/share">Share</a></h2>
        <h2><a href="/mypost">My Post</a></h2>
      </div>
      <div class="nav-bar-r">
        <ul id="menu">
          <li>
            <input class="input_menu" id="check01" type="checkbox" name="menu"/>
            <label class="nav_label" id= "current_user" for="check01">{{user.username}}</label>
            <ul class="submenu">
              <li>
                <form class="logout" action="/logout" method="post">
                  <button id="button" type="submit" name="">Logout </button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="form_note">
      <h6>*Please try to include as much detail as you can when filling out the form, this way it can greatly increase the chance for others to find your missing pet, or to rescue street animals.</h6>
    </div>
    <div class="upload_flex">
      <div id="map"></div>
      <div class="upload_form">
        <form class="live-submit">
          <div class="text_input">
            <input type="text" id="pet-title" class="form-control" name="title" value="" placeholder="Title *">
          </div>
          <div class="text_input">
            <textarea class="form-control" id="pet-body" name="body" rows="8" cols="80" placeholder="Body *"></textarea>
          </div>
          <div class="text_input">
            <input type="text" class="form-control" id="pet-contact" name="contact" value="" placeholder="Contact Method Ex. Email/Phone *">
          </div>
          <div class="text_input">
            <input type="text" class="form-control" id="pet-lat" name="lat" value="" placeholder="Latitude Ex. 29.7548 *">
          </div>
          <div class="text_input">
            <input type="text" class="form-control" id="pet-long" name="long" value="" placeholder="Longitude Ex. -95.369 *">
          </div>
          <div class="text_input tooltip">
            <input type="text" class="form-control" id="pet-img" name="img" value="" placeholder="Image URL">
            <span class="tooltip_text">
              <h6>For Image URL, you can upload image to <a href="https://ctrlq.org/images/" target=_blank"">CTRLQ</a> and copy the Direct Link(URL), since this is only a  we appolgize for the inconvenience.</h6>
              <h6>I modify the page and use free third party cloud database service(mlab) for data storeage, as the result, there is not enough space to store image file.<h6>
            </span>
          </div>
          <p style="color: white">Right click on the map to find out your coordinate.</p>
          <!-- <input type="file" name="myimage" value="" onchange="readURL(this)" ></input> -->
          <div class="search">
            <input class="btn btn-primary" type="submit" name="" value="Submit">
          </div>
          <h5 style="color:white">After 10 days, inactive post will automatically be deleted.</h5>
        </form>
      </div>

    </div>
    <!-- <div class="">
      <img id="blah" src="#" alt="your image" />
    </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/index.js" charset="utf-8"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLY27ZrnuB4CvAY8-WtUaLHsx5hhAW7dY&callback=initMap"></script>

  </body>
</html>
